# Ignore virtual environment directories
.venv/

# Ignore Python cache directories
__pycache__/

# Ignore log folder and its contents
logs/

# Environment variables
.env

# Ignore Visual Studio Code settings directory
.vscode/